body {
    background: green;
    background: -moz-linear-gradient(left, #F7FBFF 60%, #DEEEFF 40%);
    background: -webkit-linear-gradient(left, #F7FBFF 60%, #DEEEFF 40%);
    background: linear-gradient(to right, #F7FBFF 60%, #DEEEFF 40%);
}

/* "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */

.heading {
    font-family: 'Montserrat-Black', sans-serif;
    margin: 10rem 0 0 1rem;
    line-height: 1.5;
    width: 50%;
    font-size: 3.5rem;
}
.subtext {
    font-family: 'Montserrat-Black', sans-serif;
    width: 40%;
    margin: 2rem 0 0 1rem;
    line-height: 1.5;
}
.subtext2 {
    font-family: 'Montserrat-Black', sans-serif;
    width: 40%;
    margin: 1rem 0 0 1rem;
    line-height: 1.5;

}